<div class="jumbotron">
    <img src={{place.img}} alt="img">
    <h1 class="display-1">{{place.name}}</h1>

    <p class="lead">
        Property Type: {{place.propType}}
    </p>

    <hr>

    <p>
        <i class="fas fa-map-marker-alt"></i> {{place.streetAddress}} {{place.city}}, {{place.state}}
        {{place.zip}}
        <br />
        <i class="fas fa-phone-alt"></i> {{place.phone}}
        <br />
        <i class="fas fa-briefcase"></i> {{place.propMgr}}
         <br />
         <br />
          <a class="btn btn-success" href="{{place.URL}}" role="button">Go to place website</a>
       </p>
    <p>
        <div class="d-inline-block">
            <div class="rating" id="place-rating" data-rating={{place.ratingAvg}}></div>
        </div>
    </p>
</div>

<!--COMMENT OPTION IF (userType = tenant)-->
<div class="container bg-light my-4 p-3 border rounded">
    <form class="form-group" id="newCommment">
        <h1>Add A Comment</h1>

        <div class="form-group">
            <textarea class="form-control" name="text" id="newComment-text" placeholder="I loved... It could have been better if..." rows="2"></textarea>
        </div>

        <div class="form-group">
            <label for="newComments-img">Image URL</label>
            <input class="form-control" type="url" name="pictures" id="newComments-img"
                placeholder="https://_put-a-link-to-your-picture-here_.jpg">
        </div>

        <div class="form-group">
            <label for="rating-select">Star Rating</label>
            <select class="form-control" name="rating" id="rating-select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>

        <ghostData class="form-group">
            <input type="hidden" name="placeKey" value={{place.id}} />
            
            <input type="hidden" name="username" {{#if users.username}} value={{users.username}} {{else}} value="Anonymous" {{/if}}/>
            <input type="hidden" name="userId" {{#if users.userId}} value={{users.userId}} {{else}} value="1" {{/if}}/>
        
        </ghostData>

        <button type="submit" class="btn btn-primary" id="newComment-submit">Comment</button>
    </form>
</div>
<!-- END COMMENT OPTION -->
<!-- Comments -->
<div class="container comments">
    <ul class="list-group">
        {{#each comments}}
        <li class="list-group-item">
            <div>
                <h5>{{username}}</h5>
                <p>{{createdAt}}</p>
                <div>{{text}}</div>
                <div class="rating" id="{{@index}}-rating" data-rating={{rating}}></div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
<!-- End Comments -->
</div>
<script src="/js/place.js"></script>