
            <div class="jumbotron">
                <h1 class="display-1">{{place.name}}</h1>

                <p class="lead">
                    {{place.propType}}
                </p>

                <hr>

                <p>
                    <i class="fas fa-map-marker-alt"></i> {{place.streetAddress}} {{place.city}}, {{place.state}}
                    {{place.zip}}
                    <br />
                    <i class="fas fa-phone-alt"></i> {{place.phone}}
                    <br />
                    <i class="fas fa-briefcase"></i> {{place.propMgr}}
                </p>
                <p>
                    <div class="d-inline-block">
                        {{place.ratingAvg}}
                        <span style="color: #FFE066"><i class="fas fa-star"></i></span>
                    </div>
                </p>
            </div>
            <hr>

            <br>
            <!--COMMENT OPTION IF (userType = tenant)-->
            <form class="form-group" id="newCommment">

                <textarea class="form-control" name="text" id="newComment-text" rows="2"></textarea>

                <div class="form-group">
                    <label for="rating-select">Star Rating</label>
                    <select class="form-control" name="rating" id="rating-select">
                        <option>0</option>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </div>

                <button type="submit" class="btn btn-primary" id="newComment-submit">Comment</button>
            </form>
            <hr>
            <!-- END COMMENT OPTION -->
            <!-- Comments -->
            <div class="comments">
                formatedComments
            </div>
            <!-- End Comments -->
        </div>