<!-- CREATE PLACE FORM
                allow create if 
                (username and pass = true)
                and (user type is owner)

            {name: search}, 
            {streetAddress: search}, 
            {phone: search},
            {propType: drop down list,
            {propMgr: search},
            {city: search},
            {state: search},
            {zip: search},
            {rating drop down
            img urls
            Creator Id - back end
             -->

<!-- RESULTS DIV (READ) -->
<div class="card-deck col-12" id="results-container">
    {{#each cards}}
    <a class="container col-3" href="/place/{{id}}">
        <div class="card place-card" data-placeId={{id}} type="button">
            <img class="card-img-top img-fluid" src="http://placekitten.com/300/200" alt="Card image cap">
            <div class="card-img-overlay text-light">
                <h5 class="card-title">{{name}}</h5>
            </div>
            <div class="card-body">
                <p>
                    {{streetAddress}} <br>
                    {{city}}, {{state}} {{zip}}
                </p>
                <p>
                    <div class="d-inline-block rating" data-rating={{ratingAvg}} id="{{@index}}-rating"></div>
                </p>
            </div>
        </div>
    </a>

    {{/each}}
</div>

<!-- Edit Place (PUT/UPDATE)
            allow edit if (user Id = Creator Id) and (username and pass = true)

            {name: search}, 
            {streetAddress: search}, 
            {phone: search},
            {propType: drop down list,
            {propMgr: search},
            {city: search},
            {state: search},
            {zip: search},

            DELETE PLACE
            userId - back end
            -->

<!-- Create User
        
        

         </div>

            Type: Owner / Renter
            Name
            Username
            AuthToken
            Password

            backend
            add fave/owned places (ids) column

        <!-- ADVANCED SEARCH
            {name: search}, 
            {streetAddress: search}, 
            {phone: search},
            {propType: drop down list,
            {propMgr: search},
            {city: search},
            {state: search},
            {zip: search},
            rating
        -->

        <script src="/js/search.js">