<!-- CREATE PLACE FORM
                allow create if 
                (username and pass = true)
                and (user type is owner)

            {name: search}, 
            {streetAddress: search}, 
            {phone: search},
            {propType: drop down list,
            {propMgr: search},
            {city: search},
            {state: search},
            {zip: search},
            {rating drop down
            img urls
            Creator Id - back end
             -->

<div class="container">
    <h2>Add A Review</h2>

    <form>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Name</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Place Name">
            </div>

            <div class="form-group col-md-6">
                <label for="inputEmail4">Property Manger</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Name of the Manger">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Street Address</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Street Address">
            </div>

            <div class="form-group col-md-6">
                <label for="inputEmail4">City</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="City">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">State</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="State">
            </div>
            <div class="form-group col-md-2">
                <label for="inputEmail4">Zip Code</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Zip Code">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">Phone Number</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Phone Number">
            </div>
        </div>
    </form>
</div>

<!-- RESULTS DIV (READ) -->
<div class="card-deck col-12" id="results-container">
    {{#each cards}}
    <a href="/place/{{id}}">
        <div class="card place-card p-1" data-placeId={{id}} type="button">
            <img class="card-img-top img-fluid" src="http://placekitten.com/300/200" alt="Card image cap">
            <div class="card-img-overlay text-light">
                <h5 class="card-title">{{name}}</h5>
            </div>
            <div class="card-body">
                <p>
                    {{streetAddress}} {{city}}, {{state}} {{zip}}
                </p>
                <p>
                    <div class="d-inline-block rating" data-rating={{ratingAvg}} id="{{@index}}-rating">

                    </div>
                </p>
            </div>
        </div>
    </a>

    {{/each}}
</div>

<!--
    onClick modal {comments
    add comments button {
         append (
             text area for comment
            rating
            )
    }}
    comments
    add comments div {
        text area for comment
        rating
        }

            -->
<!--  -->

<!-- Place Details modal -->

<!-- END PLACE DETAILS MODAL-->

<!-- Edit Place (PUT/UPDATE)
            allow edit if (user Id = Creator Id) and (username and pass = true)

            {name: search}, 
            {streetAddress: search}, 
            {phone: search},
            {propType: drop down list,
            {propMgr: search},
            {city: search},
            {state: search},
            {zip: search},

            DELETE PLACE
            userId - back end
            -->

<!-- Create User
        
        

         </div>

            Type: Owner / Renter
            Name
            Username
            AuthToken
            Password

            backend
            add fave/owned places (ids) column

            -->
<form class="pure-form pure-form-aligned">
    <div class="container"></div>
    <h3>Create User</h3>
    <fieldset>
        <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
                <li class="pure-menu-item pure-menu-selected"><a href="#" class="pure-menu-link"></a>
                </li>
                <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                    <a href="#" id="menuLink1" class="pure-menu-link">Type</a>
                    <ul class="pure-menu-children">
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Owner</a>
                        </li>
                        <li class="pure-menu-item"><a href="#" class="pure-menu-link">Renter</a>
                        </li>

                </li>
            </ul>
            </li>
            </ul>
        </div>

        <div class="pure-control-group">
            <label for="name">Name</label>
            <input id="name" type="text" placeholder="Name">
        </div>

        <div class="pure-control-group">
            <label for="name">UserName</label>
            <input id="name" type="text" placeholder="UserName">
        </div>

        <div class="pure-control-group">
            <label for="name">AuthToken</label>
            <input id="name" type="text" placeholder="AuthToken">

        </div>
        <div class="pure-control-group">
            <label for="name">AuthToken</label>
            <input id="name" type="text" placeholder="Password">
        </div>
        <!-- this is where the name goes  -->




        <!-- ADVANCED SEARCH
            {name: search}, 
            {streetAddress: search}, 
            {phone: search},
            {propType: drop down list,
            {propMgr: search},
            {city: search},
            {state: search},
            {zip: search},
            rating
        -->

        <script src="/js/search.js">