<!-- CREATE PLACE FORM
                allow create if 
                (username and pass = true)
                and (user type is owner)

            {name: search}, 
            {streetAddress: search}, 
            {phone: search},
            {propType: drop down list,
            {propMgr: search},
            {city: search},
            {state: search},
            {zip: search},
            {rating drop down
            img urls
            Creator Id - back end
             -->

<!-- RESULTS DIV (READ) -->

<div class="card-deck col-12 bg-black" id="results-container">
    {{#each cards}}
    <a class="container col-lg-3 col-" href="/place/{{id}}">
        <div class="card place-card m-2" data-placeId={{id}} type="button">
            {{#if img}}
            <img class="card-img-top d-flex col-12" style="height: 200px" src={{img}} alt="Card image cap">
            {{else}}
            <img class="card-img-top d-flex col-12 p-0" src="https://via.placeholder.com/300x200/B5D8FF/808080?Text=Add/" alt="Card image cap">
            {{/if}}
            <div class="card-img-overlay">        
            </div>
            <div class="card-body">
                 <h5 class="card-title">{{name}}</h5>
                <p>
                    {{streetAddress}} <br>
                    {{city}}, {{state}} {{zip}}
                    <br>
                </p>
                <p>
                    <div class="d-inline-block rating" data-rating={{ratingAvg}} id="{{@index}}-rating"></div>
                </p>
            </div>
        </div>
    </a>

    {{/each}}
</div>

<!-- Edit Place (PUT/UPDATE)
            allow edit if (user Id = Creator Id) and (username and pass = true)

            {name: search}, 
            {streetAddress: search}, 
            {phone: search},
            {propType: drop down list,
            {propMgr: search},
            {city: search},
            {state: search},
            {zip: search},

            DELETE PLACE
            userId - back end
            -->

<!-- Create User
        
        

         </div>

            Type: Owner / Renter
            Name
            Username
            AuthToken
            Password

            backend
            add fave/owned places (ids) column

        <!-- ADVANCED SEARCH
            {name: search}, 
            {streetAddress: search}, 
            {phone: search},
            {propType: drop down list,
            {propMgr: search},
            {city: search},
            {state: search},
            {zip: search},
            rating
        -->

        <script src="/js/search.js">